[submodule "pcb/lib/agg-kicad"]
	path = pcb/lib/agg-kicad
	url = git@github.com:philcrump/agg-kicad.git
[submodule "software/tracker-web/lib/libwebsockets"]
	path = software/tracker-web/lib/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
[submodule "software/tracker-web/lib/libpredict"]
	path = software/tracker-web/lib/libpredict
	url = https://github.com/philcrump/libpredict.git
